@font-face {
    font-family: 'Bree Serif';
    src: url("fonts/BreeSerif-Regular.ttf");
}

:root {
    --main-color: #00CC00;
    --secondary-color: #FF7400;
    --accent-color: #CD0074;
}

* {
    font-family: 'Bree Serif', serif;
    margin: 0;
    padding: 50;
    border: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    width: 100%;
}

header {
    height: 200px;
    background-color: var(--main-color);
}

.logo {
    display: block;
    border-radius: 70px;
    width: 286px;
    height: 94px;
    background-color: var(--secondary-color);
    
    text-align: center;
}

.logo h1 {
    color: black;
}


main {

}

.big_banner {
    max-width: 1133px;
    height: 219px;
    margin: 0 auto;
}

.banner_img {
    margin: 35px;
}

.card {
    padding: 10px;
    background-color: gray;
    width: 470px;
    height: 695px;
}

.card ul {
    padding: 0px;
}

.card_img {
    width: 470px;
    height: 500px;
}

.card_price {}

footer {
    border: 1px solid yellow;
}